.container{style: "padding-top: 20px;"}
  .col-md-6.col-md-offset-3
    .well
      %h2
        Edit #{resource_name.to_s.humanize}
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        .form-group
          = f.label :username
          %br/
          = f.text_field :username, class: "form-control"
        .form-group
          = f.label :email
          %br/
          = f.email_field :email, class: "form-control"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-group
          = f.label :password
          %i (leave blank if you don't want to change it)
          %br/
          = f.password_field :password, :autocomplete => "off", class: "form-control"
        .form-group
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, class: "form-control"
        .form-group
          = f.label :current_password
          %i (required for any changes)
          %br/
          = f.password_field :current_password, class: "form-control"
        %div= f.submit "Update", class: "btn btn-primary"
      %h3 Cancel my account
      %p
        Unhappy?
        = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger btn-sm", :method => :delete
      = link_to "Back", :back

  - if @user.errors.any?
    .notifications.top-center
      .alert.alert-error.in.fade
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        = devise_error_messages!