- if comment.try(:id) != nil
  .comment{class: "comment_#{comment.id}"}
    %p
      %strong
        = link_to User.find(comment.user_id).username, user_path(User.find(comment.user_id).slug)
      
      %span{style: "padding-left: 10px;font-size: 9px;"}= comment.created_at
    .comment-body
      :markdown
        #{comment.body}
    .comment-options{style: "margin-bottom: 10px;"}
      = button_to "delete", related_game_comment_path(comment.commentable_id, comment), method: :delete, remote: true, class: "btn-link", style: "float:left;"
      = button_to "reply", '#', class: "btn-link", style: "float:left;"
      %div{style: "clear:both;"}
    - if comment.has_children?
      %div{style: "margin-left: 10px; margin-right: 10px;"}
        = render partial: 'comments/comment', collection: comment.children, as: :comment