.container{style: "padding-top: 20px;"}
  .col-md-4
    %h3= @user.username
    Total Points: #{@points}
    %br
    Total Comments: #{@num_votes}
    %br
    Joined: #{@user.created_at.strftime("%m/%d/%Y")}
  .col-md-8
    - if !@comments.empty?
      = render partial: 'comments/comment', collection: @comments, as: :comment
      = will_paginate @comments