.container
  .row
    .col-md-5
      %h2.text-center
        = link_to @game1.title, @game1
      %hr
      %p
        Release Date: #{@game1.release_date.strftime("%B %-d, %Y")}
      %p
        = @game1.platform.join(" | ")
    
    .col-md-2
      = render 'shared/voting', relatedGame: @relatedGame
  
  
    .col-md-5
      %h2.text-center
        = link_to @game2.title, @game2
      %hr
      %p
        Release Date: #{@game2.release_date.strftime("%B %-d, %Y")}
      %p
        = @game2.platform.join(" | ")
        
  
  %br
  %br
  
  .row
    .col-md-5
      - if user_signed_in?
        %h5 Have something to say?
        = form_for([@relatedGame, Comment.new], remote: true) do |f|
          .form-group
            = f.text_area :body, class: "form-control", rows: "3"
            = f.hidden_field :user_id, value: current_user.id
          .form-group
            = f.submit "Submit", class: "btn btn-sm"
            
  .row
    .col-md-12
      #comments
        - if !@comments.empty?
          = render partial: 'comments/comment', collection: @relatedGame.root_comments, as: :comment